entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "GiroBot WhatsApp Service"

[[workflows.workflow]]
name = "GiroBot WhatsApp Service"
author = 38714718
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
